/**
    CSS for the blog section of my personal site
**/

/** Formatting for the main title **/
.page-title {
    text-align: center;
}

.title-heading {
    font-size: 60px;
    font-family: 'Libre Baskerville', bold;
}

/** Formatting of blog entries as list elements **/
.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.entries {
    /*position: relative;*/

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.entries > li {
    font-family: 'Libre Bakerville', bold;
}

.blog-entry-title {    
    text-align: center;
    font-size: 54px;
    color: black;
}

.blog-entry-subtitle {
    font-size: 36px;
    color: black;
}

.blog-entry-text {
    font-size: 24px;
    color: green;
}

#no-content {
    font-size: 60;
    color: darkred;
}