/**
    CSS for the index home page of my personal website
**/

/** General Body Formatting **/
/*body{
    background-color: white;
}

.page-wrapper {
    width: 80%;
    margin: auto;
}*/

/**
    CSS for the page title (my name)
**/
.page-title {
    text-align: center;
}

.title-heading {
    font-size: 60px;
    font-family: 'Libre Baskerville', bold;
}

/**
    CSS for the page text, which is mostly just information about me
**/
.info-block {
    width: 70%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.info-text {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    line-height: 1.8;
}