{% extends "default.html" %}
{% block content %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
<div class="page-title">
    <h1 class="title-heading">Mohamed Lansari</h1> 
</div>
<div class="info-block">
    <p class="info-text">
        I'm a second-year computer science and mathematics double major at the University of
        North Carolina at Chapel Hill.  I have various work experience using the knowledge of 
        computer science I've gained on my own and in class.  I enjoy using the resources and 
        freedom offered to me by my school and skills to build tools and projects that are fun 
        and useful.<br><br>
        <b> See the links on the top bar for more information about my work and I, as well as
        learning about means with which to contact me! </b> <br>
    </p>
</div>
{% endblock %}